:root {
    /* fix 100vh on ios/android */
    --vh100: calc(100 * var(--vh, 1vh));

    /* main color */
    --main-hue: 230;
    --color-normal: hsla(var(--main-hue), 100%, 60%, 100%);
    --color-lighter: hsla(var(--main-hue), 100%, 70%, 100%);
    --color-darker: hsla(var(--main-hue), 100%, 50%, 100%);

    /*  page bg color  */
    --bg-hue: 225;
    --page-bg: hsla(var(--bg-hue), 10%, 100%, 100%); /* light */
    --page-color: hsla(var(--bg-hue), 10%, 20%, 100%); /* dark */

    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    color-scheme: light dark;
    color: var(--page-color);
    background-color: var(--page-bg);
    font-synthesis: none;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
}

a {
    color: var(--color-normal);
    text-decoration: none;
}

a:hover {
    color: var(--color-lighter);
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    min-height: var(--vh100);
}

@media (prefers-color-scheme: dark) {
    :root {
        --page-bg: hsla(var(--bg-hue), 10%, 20%, 100%); /* dark */
        --page-color: hsla(var(--bg-hue), 10%, 100%, 100%); /* light */
    }
}
